* {
	font-family: system-ui;
	color: white;
}

main {
	
    width: 750px; /* 380 + 350 + 20 */
    margin: 15px auto; /* On met les margin ici pour centrer le main */

    display: grid; 
    gap: 20px; 
    align-items: start;
    
    grid-template-columns: 380px 350px;
}

/* GRID GAME --------------------------------------------------------------------------*/
#level-infos {
	color: #321654;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

#grid-game {
	/* max-width: 380px; La gestion de la largeur est fait dans le main */  
	padding: 16px; 
	height: 382px;

	background: #321654;
	border-radius: 15px;
	box-shadow: 0 10px 30px rgba(0,0,0,.35);
	
	position: relative;
}

#grid-help
{
    text-align: center;
    font-size: small;
	position: absolute;
	bottom: 5px;
	color: white;
}

#grid-layer, #token-layer {	
	position: absolute;
	width: 100%;
	height: 100%;
}

#grid-layer {

	display: grid; 
	grid-template-columns: repeat(8, 40px);
	grid-template-rows: repeat(8, 40px);
	
	gap: 2px; 
}

.cell, .wall, .player, .enemy, .door, .chest, .item {
    width: 40px;
    height: 40px;	
	
    position: relative;
    border-radius: 5px;
	border: 1px solid black;
	
	background-size: cover;
}

.cell, .door, .chest  {
    background-color: #e6e6e6;
}

.wall {
    background-image: url("assets/wall.png");
}

.door {
    background-image: url("assets/door.png");
}

.enemy {
	background-color: rgba(239, 68, 68, 0.2);
}

.player {
    background-color: #e6e6e6;
}

.player.in-battle {
	background-color: rgba(255, 99, 71, 0.4);
}

/* GRID ASIDE -------------------------------------------------------------------------*/
#grid-aside {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#battle-area, #inventory, #infos-area {	  

	padding: 16px; 

	background: #321654;
	border-radius: 15px;
	box-shadow: 0 10px 30px rgba(0,0,0,.35);
}

/* BATTLE AREA ------------------------------------------------------------------------*/
# battle-area
{
	
}

#dices
{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
    width: 100%;
}

.dice {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.dice > img { 
    display: block; 
    max-width: 100%; 
    height: auto; 
}

#dice-actions
{
    margin-top: 15px;
}

#dice-actions button 
{
    background-color: #1b2236;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
}

/* PLAYER INFOS (INVENTORY) -----------------------------------------------------------*/
#inventory > p 
{
	text-transform: uppercase;
	text-align: center;	
	
	margin: 0;
	padding: 0;
	font-size: small;
	font-weight: bold;
}

#caracteristics
{
	display: flex;
	justify-content: space-between;
	margin: 10px 0 20px 0;
	padding: 0;
}

#caracteristics li
{
	list-style: none;
	text-align: center;
}

#caracteristics li span.key
{
	font-size: small;
}

#caracteristics li span.value
{
	font-weight: bold;
}

/* Inventaire (grid) */

#slots
{
	height: 40px;
	
	display: grid;
	
	grid-template-columns: repeat(7, 40px);
	/* Idem que : grid-template-columns: 40px 40px 40px 40px 40px 40px 40px; */
	
	grid-template-rows: 40px;
	gap: 2px;
	
	justify-content: center;
	
	margin-bottom: 20px;
}

#slots .slot
{
	background-color: white;
    border-radius: 5px;
}

/* Barres de points de vie et d'XP */
#player-hp, #player-xp {
	display: grid;
	grid-template-columns: 10% 90%;
	margin-top: 5px;
}

#inventory .info-bar {
	background-color: #f1f1f1;
	border-radius: 5px;
	overflow: hidden;
}

#player-hp *, 
#player-xp * {
	margin: 0;
	padding: 0;
}

#inventory .info-bar div {	
	height: 24px;
	font-size: small;
}

#inventory .info-bar div .info-bar-value {
	font-weight: normal;
	padding-left: 10px;
	color: #321654;
}

#player-hp .info-bar div {
	background-color: #f44336;
}

#player-xp .info-bar div {
	background-color: #4CAF50;
}

/* SELECTION INFOS (INFOS-AREA) -------------------------------------------------------*/




/* BOUTON SAUVEGARDE ------------------------------------------------------------------*/
#save-game {
	display: flex;
	flex-direction: rows;
	gap: 20px;
	align-items: center;
}

#save-game button
{
	background-color: #321654;
	border-radius: 10px;
	padding: 5px 10px;
	font-weight: bold;
}

#save-game p {
	color: #000000;
	padding: 0;
	margin: 0;
	font-size: small;
}

#save-game p span {
	display: block;
	color: #000000;
}